<%= content_tag_for :tr, player do %>
    <td> <%= player.team.city %> <%= player.team.name %> </td>
    <td>
      <%= link_to "#{player.given_name} #{player.surname}",
                  season_players_path(params.merge(player_id: player.id)) %>
    </td>
<% end %>