<h1><%= link_to @season.year + ' Players', season_players_path %></h1>

<table class="players table table-striped table-bordered table-hover">
  <tr>
    <th> Team</th>
    <th> Name</th>
    <th> Position</th>
  </tr>
  <%= render @players %>
</table>

<%= paginate @players %>

Page loaded at <%= Time.now.seconds_since_midnight.to_i %>